.edit{
    text-align: center;
    padding: 3%;
}
.edit button{
    font-family: 'BebasNeue';
    border-radius: 5px;
    padding: .8%;
    margin-bottom: 2%;
}
.edit-mode{
    display: grid;
    grid-template-columns: 100%;
    text-align: center;

}
.edit-mode textarea{
    text-decoration: none;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}

