/* fuentes */
@font-face {
    font-family: 'Lobster';
    src: local('Lobster'), url(../fonts/Lobster-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'BebasNeue';
    src: local('BebasNeue'), url(../fonts/BebasNeue-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Barriecito';
    src: local('Barriecito'), url(../fonts/Barriecito-Regular.ttf) format('truetype');
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Barriecito';

}

li{
    list-style: none;
}

body{
    background-color: white;
    background-image: url('../img/manchas.png');
    background-size: 80%;
    background-repeat: repeat-y;
    background-position: center;
}