.main-nav{
    display: flex;
    justify-content: center;
}
.main-nav nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100vw;
    padding: 2vh;
    z-index: 4000;
    box-shadow: 1px 1px 1px 1px rgb(214, 214, 214);
}

.main-nav a{
    text-decoration: none;
    color: black;
    font-family: 'BebasNeue';

}
.main-nav nav #buscador{
    width: 25%;


}
.main-nav nav #buscador input{
    width: 100%;
    padding: 3%;
    text-decoration: none;
    box-shadow: none;
    border-radius: 20px;
    border: 0;
    border: 1px solid black;
    font-family: 'BebasNeue';
    text-align: center;
}
.main-nav nav #user{
    text-align: left;
    margin-left: 3vw;
    font-family: 'BebasNeue';

}
.main-nav nav #logout{
    font-family: 'BebasNeue';
    text-align: right;
    margin-right: 3vw;
}

.main-nav nav .results{
    position: fixed;
    background-color: white;
    border-radius: 5px;
    width: 335px;
}

.result{
    text-align: left !important;
    padding: 3%;
    margin: 3%;
}

.unregistered{
    text-align: left;
    margin-bottom: 5%;
}

.unregistered #links{
    display: flex;
    justify-content: space-around;
    width: 10%;
}
