.main-nav{
    display: flex;
    justify-content: center;
}
.main-nav nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100vw;
    padding: 2vh;
}


.main-nav a{
    text-decoration: none;
}
.main-nav nav #buscador{
    width: 25%;
}
.main-nav nav #buscador input{
    width: 100%;
    padding: 3%;
    text-decoration: none;
    box-shadow: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav nav #user{
    font-family: 'Lobster';
    text-align: left;
    margin-left: 3vw;
}
.main-nav nav #logout{
    font-family: 'Lobster';
    text-align: right;
    margin-right: 3vw;
}

.results div{
    border: 1px solid red;
}
.results tr{
    position: fixed;
    top: 10%;
    left: 50%;
    right: 50%;
    text-align: center;
    background-color: white;

}
