.login{

    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    padding: 5%;
}

.login input{
    border: 0;
    padding: 1%;
    margin: 1%;
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
}

.login button{
    border: 0;
    padding: 1%;
    margin: 1%;
    width: 30%;
}